@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #00B4DB, #0083B0);
    color: white;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  justify-content: space-between;
}

.header-menu {
  cursor: pointer;
}

.header-menu:active {
  color: gray;
}

#title {
    font-size: 24px;
}

main {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  max-width: 300px;
}

.text-input {
    border: 3px solid white;
    outline: none;
    padding: 5px 2px;
    border-radius: 5px;
    background-color: #ececec;
    box-shadow: 1px 1px 1px 1px #0000004d;
    margin: 5px;
    box-sizing: border-box;
}

.new-task-text {
    width: 100%;
}

#task-list {
  margin: 5px;
  box-shadow: 1px 1px 2px 2px #0000003d;
  background-color: white;
  color: black;
  width: 100%;
}

.task-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  padding: 5px;
  border-bottom: 1px solid #009ac461;
  align-items: center;
}

.task-item .task-title {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    flex: 1;
}

.task-item:hover {
  background: #cff4ff;
}

.task-item .task-delete {
    color: red;
    cursor: pointer;
}

.task-item .task-delete:hover {
    font-weight: bold;
}

.task-item .task-delete:active {
    color: black;
}

.no-tasks-msg {
    padding: 15px 5px;
    color: #9c9c9c;
}